<div class="users edit">
  <h1>Update Member Points</h1>
  <td><%= @user.firstname %> <%= @user.lastname %></td>

  <%= form_for(@user) do |f| %>

    <table summary="Member Points fields" style="width:340px">
      <tr>
        <th>Member Points</th>
        <td><%= f.text_field(:member_points) %></td>
      </tr>
    </table>

    <div class='button_center'>
      <%= f.submit "Update Points", :class=>'button'  %>
    </div>

  <% end %>
</div>
