<%# <h1>Aggie Women in Computer Science</h1> %>
<h3 class='centerText'>Dashboard</h3>
      <h4 class='centerText'>Current Login: </h4>

<div class='currentLoginCard'>
    <div class="avatarContainer">
      <%= image_tag(current_admin.avatar_url, :class => "userAvatar")   %>
    </div>
      <p> <%= current_admin.full_name %> - <%= current_admin.email %></p>
      <% match = User.where(:email => current_admin.email)[0] %>
      <% if !match.email.blank? %>
        <p> Position: <%= match.admin ? 'Admin' : 'Member' %> <p>
      <% end %>
      <% if !match.admin %>
        <p> You currently have <%= match.member_points %> points.</p>
      <% else %>
        <p> You have permission to add users.</p>
      <% end %>
</div>


<% match = User.where(:email => current_admin.email)[0] %>
  <% if !match.admin %>
    <h1> Points Breakdown </h1>

    <% @user = User.find(match[:id]) %>
    <% @attendances = @user.attendances %>
    <% @events = Event.all.uniq {|f| [ f.event_name ]} %>
    <div class="users show">
      <h3 class='centerText' >Total Points: <%= @user.member_points%></h3>
      <table class="table_center" summary="User list" cellspacing="10" style="width:600px">
        <tr class="header"  style="text-align:left">
          <th>Meetings</th>
          <th>Date</th>
          <th>Points</th>
        </tr>

        <% @events.each do |event| %>
          <tr style="text-align:left">
          <%event.users.each do |user|%>
            <% if user.id == @user.id%>
              <td><%= event.event_name%></td>
              <td><%= event.event_date.strftime('%b %e, %Y') %></td>
              <td><%= event.event_points * (@user.admin ? 2 : 1)%></td>
            <% end %>
          <% end %>
        <% end %>
      </table>
    </div>

  <% else %>
    <div class="users index">
    <h1>Members</h1>
    <table class="listing" summary="User list" cellspacing="10" style="width:1800px">
      <tr class="header"  style="text-align:left">
        <th>NetID</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Position</th>
        <th>Points</th>
        <th></th>
      </tr>
      <% @users.each do |user| %>
      <tr  style="text-align:left">
        <td><%= user.email.split('@')[0] %></td>
        <td><%= user.email %></td>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.admin ? 'Admin' : 'Member' %></td>
        <td><%= user.member_points %></td>
        <td class="actions">
            <%= button_to "Points Breakdown", attendance_path(user.id), method: :get, class: 'table_button' %>
        </td>
      </tr>
      <% end %>
    </table>
<% end %>
