<div class="users new">
  <h1>Add a New Member</h1>

  <%= form_with model: @user do |form| %>

    <table class="table_center" summary="User form fields" cellspacing="10" style="width:500px">
      <tr>
        <th>First Name</th>
        <td><%= form.text_field(:firstname) %></td>
      </tr>
      <tr>
        <th>Last Name</th>
        <td><%= form.text_field(:lastname) %></td>
      </tr>
      <tr>
        <th>Position</th>
        <td><%= form.select :admin, options_for_select([['Admin', true], ['Member', false]])%></td> 
      </tr>
      <tr>
        <th>NetID</th>
        <td><%= form.text_field(:username) %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= form.email_field(:email) %></td>
      </tr>
    </table>
    <div class='button_center'>
      <%= form.submit "Add Member", :class=>'button'%>
    </div>
  <% end %>
</div>
