<h1>Aggie Women in Computer Science</h1>

<%= link_to("<< Back to Members List", users_path, :class => 'back-link') %>

<div class="users new">
  <h2>Add a New Member</h2>

  <%= form_for(@user) do |f| %>

    <table summary="User form fields" cellspacing="15">
      <tr>
        <th>First Name</th>
        <td><%= f.text_field(:first_name) %></td>
      </tr>
      <tr>
        <th>Last Name</th>
        <td><%= f.text_field(:last_name) %></td>
      </tr>
      <tr>
        <th>Position</th>
        <td><%= f.text_field(:position_id) %></td>
      </tr>
      <tr>
        <th>Member Points</th>
        <td><%= f.text_field(:member_points) %></td>
      </tr>
      <tr>
        <th>NetID</th>
        <td><%= f.text_field(:username) %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= f.text_field(:email) %></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= f.submit("Add Member") %>
    </div>

  <% end %>
</div>
