<div class="users new">
  <h1>Add a New Member</h1>

  <%= form_for(@user) do |f| %>

    <table class="table_center" summary="User form fields" cellspacing="10" style="width:500px">
      <tr>
        <th>First Name</th>
        <td><%= f.text_field(:first_name) %></td>
      </tr>
      <tr>
        <th>Last Name</th>
        <td><%= f.text_field(:last_name) %></td>
      </tr>
      <tr>
        <th>Position</th>
        <td>
          <%= f.select :position_id, [['Member','member'],['Admin','admin']] %>
        </td>
      </tr>
      <tr>
        <th>NetID</th>
        <td><%= f.text_field(:username) %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= f.email_field(:email) %></td>
      </tr>
    </table>
    <div class='button_center'>
      <%= f.submit "Add Member", :class=>'button'  %>
    </div>
  <% end %>
</div>
