<% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="users show">
  <h2>Member Info</h2>

  <table class="table_center" summary="User detail view" cellspacing="10">
    <tr>
      <th style="text-align:left">First Name</th>
      <td><%= @user.first_name %></td>
    </tr>
    <tr>
      <th style="text-align:left">Last Name</th>
      <td><%= @user.last_name %></td>
    </tr>
    <tr>
      <th style="text-align:left">Position</th>
      <td><%= @user.position_id %></td>
    </tr>
    <tr>
      <th style="text-align:left">Member Points</th>
      <td><%= @user.member_points %></td>
    </tr>
    <tr>
      <th style="text-align:left">NetID</th>
      <td><%= @user.username %></td>
    </tr>
    <tr>
      <th style="text-align:left">Email</th>
      <td><%= @user.email %></td>
    </tr>
  </table>

</div>
