<% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="events show">
  <h2 class='centerText' >Events List</h2>
  <table class="listing" summary="Event list" cellspacing="10" style="width:1000px">
    <tr class="header"  style="text-align:left">
      <th>Meetings</th>
      <th>Date</th>
      <th>Points</th>
      <th>Attendance</th>
    </tr>
    <% @events.each do |event| %>
      <tr style="text-align:left">
      <td><%= event.event_name %></td>
      <td><%= event.event_date.strftime('%b %e, %Y') %></td>
      <td><%= event.event_points %></td>
      <td><%= event.user.count %></td>
      </tr>
    <% end %>
  </table>

</div>
