
<% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= link_to("<< Back to Members List", users_path, :class => 'back-link') %>

<div class="users show">
  <h2 class='centerText' ><%= @user.first_name + " " + @user.last_name %></h2>
  <h3 class='centerText' >Total Points: <%= @user.member_points%></h3>

  <table class="listing" summary="User list" cellspacing="10" style="width:600px">
    <tr class="header"  style="text-align:left">
      <th>Meetings</th>
      <th>Date</th>
      <th>Points</th>
    </tr>
  <% @attendances.each do |attendance| %>
    <tr style="text-align:left">
      <td><%= attendance.event_id %></td>
      <% @events.each do |event| %>
          <% if event.event_name.match?(attendance.event_id)%>
            <td><%= event.date.strftime('%b %e, %Y') %></td>
            <td><%= event.point_amount * Position.where(position_title: @user.position_id).first.multiplier %></td>
          <% end %>
      <% end %>
    </tr>
  <% end %>
</table>

</div>
