<% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="users show">
  <h1 class='centerText' ><%= @user.firstname + " " + @user.lastname %></h1>
  <h3 class='centerText' >Total Points: <%= @user.member_points%></h3>
  <table class="table_center" summary="User list" cellspacing="10" style="width:600px">
    <tr class="header"  style="text-align:left">
      <th>Meetings</th>
      <th>Date</th>
      <th>Points</th>
    </tr>
    <% @events.each do |event| %>
      <tr style="text-align:left">
        <td><%= event.event_name %></td>
        <td><%= event.event_date.strftime('%b %e, %Y') %></td>
        <td><%= event.event_points * (@user.admin ? 2 : 1)%></td>
      </tr>
    <% end %>
</table>

</div>
