<h3>You're logged in! Welcome to the Admin Dashboard!</h3>
<%= link_to "Sign Out", destroy_admin_session_path %>

<h1>Aggie Women in Computer Science</h1>

<% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="users index">

  <h2>Members</h2>

  <table class="listing" summary="User list" cellspacing="10" style="width:600px">
    <tr class="header"  style="text-align:left">
      <th>NetID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Points</th>
    </tr>
    <% @users.each do |user| %>
    <tr  style="text-align:left">
      <td><%= user.username %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.member_points %></td>

      <td class="actions">
        <%= link_to("Show", user_path(user), :class => 'action show') %>
        <%= link_to("Update Points", edit_user_path(user), :class => 'action edit') %>
      </td>
    </tr>
    <% end %>
  </table>
<br>
  <%= link_to("Add New Member", new_user_path, :class => 'action new') %>

</div>
