<!DOCTYPE html>
<html>
  <head>
    <title>AWICS - Member Point Tracker</title>
    <link rel="icon" href="https://images.squarespace-cdn.com/content/5c464a9ab98a78b5f047db4a/1567036062025-D1RY8R04YSCLLIEJ5O8G/AWICS_logo_Favicon.png?format=100w&content-type=image%2Fpng" type="image/png" sizes="16x16">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
        .flash__alert   { color: red; }
        .flash__notice  { color: blue; }
        .flash__success { color: green; }
    </style>
  </head>

  <body>
    <div class='logoContainer'>
    <%= image_tag("AWICS_logo.png", width: '200px', :class => "siteLogo")   %>
    </div>
    <% if !current_page?new_admin_session_path %>
      <ul>
        <% match = User.where(:email => current_admin.email)[0] %>
        <% if match.admin%>
          <li><%= link_to "Members List", users_path %></li>
        <% else %>
          <li><%= link_to "My Points", users_path %></li>
        <% end %>
          <li><%= link_to "Events", event_path(match) %></li>
          <li><%= link_to "Sign Out", destroy_admin_session_path %></li>
      </ul>
    <% end %>
    <% if flash.any? %>
      <% flash.each do |key, value| -%>
        <section class="flash flash__<%= key %>"><%= value.html_safe %></section>
      <% end -%>
    <% end %>

    <%= yield %>
  </body>
</html>

<%# <!DOCTYPE html> %>
<%# <html> %>
  <%# <head> %>
    <%# <title>AwicsMpt</title> %>
    <%# <%= csrf_meta_tags %>
    <%# <%= csp_meta_tag %>

    <%# <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%# </head> %>

  <%# <body> %>
    <%# <%= yield %>
  <%# </body> %>
<%# </html> %>
